<?xml version="1.0" encoding="UTF-8"?>
<!-- using XML config to minimize dependencies - json/yaml formats require jackson dependency for log4j2 to work -->
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd zzz HH:mm:ss,SSS} [%t] %-5level %class{36}#%method - %msg%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>